{% extends 'base.html' %}

{% block content %}
<div class="ui raised text container segment center aligned">
    <div class="ui horizontal divider">Signup Form</div>
    <div class="ui form segment">
    <h2>I am a...</h2>
    <a href='student'>
            <button class="ui primary button large">
            Student
            </button>
            </a>
            <a href='teacher'>
                    <button class="ui primary button large">
                    Teacher
                    </button>
            </a>

</div>
</div>
{% endblock %}

